<app-hello-world></app-hello-world>

<app-child [count]="counter" (childRequest)="childRequestHandler($event)">
  <button incButton (click)="incrementCounter()">+</button>
  <button decButton (click)="decrementCounter()">-</button>
</app-child>

<button (click)="toggleFlag($event)">Toggle: {{ flag }}</button>

<p>date (without pipe):<br />{{ date }}</p>
<p>date (with pipe):<br />{{ date | date }}</p>
<p>
  date (with pipe & custom formatting):<br />{{ date | date: "EEEE MMMM d y" }}
</p>
<p>
  date (chaining pipes):<br />{{ date | date: "EEEE MMMM d y" | uppercase }}
</p>
<p>
  <img [src]="imageUrl" />
</p>
<table>
  <tr>
    <td class="red" [colSpan]="columnA">1 column</td>
    <td class="red" [colSpan]="columnA">1 column</td>
    <td class="red" [colSpan]="columnA">1 column</td>
    <td class="red" [colSpan]="columnA">1 column</td>
  </tr>
  <tr>
    <td class="green" [colSpan]="columnB">2 column</td>
    <td class="green" [colSpan]="columnB">2 column</td>
  </tr>
  <tr>
    <td class="blue" [colSpan]="columnC">4 column</td>
  </tr>
</table>

<button [disabled]="isUnchanged">Disabled</button>

<br />

<div [class.text-center]="textCentered" [style.backgroundColor]="'orange'">
  Attribute, Class, and Style Binding<br />
  <img [src]="imageUrl" [attr.width]="'100'" [attr.height]="'100'" />
</div>
